@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.ProseMirror {
  p {
    @apply mb-2;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }
}
